<html>
  <head>
    <title>{{ title }}</title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
    <meta name="description" content="Tracking Kyber Network's Trades, Activities, and Burnt Fees">
    {{!-- <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet"> --}}
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="Tracking Kyber Network's Trades, Activities, and Burnt Fees" />
    <meta property="og:image" content="/images/og-image.png" />
    <meta property="og:site_name" content="Kyber Tracker"/>
      <link rel=icon type=image/png sizes=32x32 href=icons/favicon-32x32.png>
      <link rel=icon type=image/png sizes=16x16 href=icons/favicon-16x16.png>
      <!--[if IE]>
      <link rel="shortcut icon" href="icons/favicon-48x48.png"><![endif]-->
      <meta name=theme-color content=#4DBA87>
      <meta name=apple-mobile-web-app-capable content=yes>
      <meta name=apple-mobile-web-app-status-bar-style content=black>
      <meta name=apple-mobile-web-app-title content=Kyber Tracker>
      <link rel=apple-touch-icon href=icons/kyber-logo.png>
      <link rel=mask-icon href=icons/logo.svg color=#4DBA87>
      <meta name=msapplication-TileImage content=icons/favicon-512x512.png>
      <meta name=msapplication-TileColor content=#000000>

      <link rel="manifest" href="/manifest.json">

        <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5F45K7R');</script>
<!-- End Google Tag Manager -->

  </head>
  <body>
    <div id="app"></div>
    <script>{{{transferString}}}</script>
    <script src="../js/bundle.js?v={{ version }}"></script>

    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5F45K7R"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


    <!— Facebook Pixel Code —>
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '2061921330754520');
    fbq('track', 'PageView');
    fbq('trackCustom', 'Tracker');
    </script>
    <!- Reister service-worker ->
    <script>
        ! function () {
            "use strict";
            const o = Boolean("localhost" === window.location.hostname || "[::1]" === window.location.hostname || window.location
                    .hostname.match(/^127(?:\.(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)){3}$/));
            window.addEventListener("load", function () {
                "serviceWorker" in navigator && ("https:" === window.location.protocol || o) && navigator.serviceWorker.register(
                        "js/service-worker.js").then(function (o) {
                    o.onupdatefound = function () {
                        if (navigator.serviceWorker.controller) {
                            const n = o.installing;
                            n.onstatechange = function () {
                                switch (n.state) {
                                    case "installed":
                                        break;
                                    case "redundant":
                                        throw new Error("The installing service worker became redundant.")
                                }
                            }
                        }
                    }
                }).catch(function (o) {
                    console.error("Error during service worker registration:", o)
                })
            })
        }();

    </script>
    <script>
        document.addEventListener('DOMContentLoaded', init, false);
        function init() {
            if("serviceWorker" in navigator) {
                navigator.serviceWorker.register('serviceworker.js')
                        .then((registration) => {
                            console.log('Service Worker installed!');
                        }).catch((err) => {
                    console.error('Service Worker failed', err);
                });
            }

        }
    </script>
    <noscript>
    <img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=2061921330754520&ev=PageView&noscript=1"/>
    <img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=2061921330754520&ev=Tracker&noscript=1"/>
    </noscript>
    <!— End Facebook Pixel Code —>



    
  </body>
</html>
