@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');
@import 'settings.scss';

body{
  color: $black;
  font-family: $code-font-family;
  min-width: 350px;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
  font-family: $code-font-family;
}