// @font-face {
//   font-family: Avenir;
//   src: url('/font/Avenir-Roman.otf');
// }


$black: #2c2c2c;
// $code-font-family: 'Montserrat', 'My-Montserrat', sans-serif;
$code-font-openSans: 'Open Sans';
$code-font-family: 'Nunito';
$code-font-title: 'Nunito';


$sm: '576px';
$md: '768px';
$lg: '992px';
$xl: '1200px';